#cms_container {
	#wrap-1{position:absolute; left:0%; right:79.08428720083248%; top:0%; bottom:0%;}
	#wrap-2{position:absolute; left:0%; right:0%; top:0%; bottom:67.64275256222547%;}
	#wrap-3{position:absolute; left:0%; right:0%; top:32.357247437774525%; bottom:0%;}
	#wrap-4{position:absolute; left:20.915712799167537%; right:0%; top:0%; bottom:0%;}
	#wrap-5{position:absolute; left:0%; right:86.8421052631579%; top:0%; bottom:0%;}
	#wrap-6{position:absolute; left:13.157894736842104%; right:0%; top:0%; bottom:0%;}
}
