#cms_container {
	#wrap-1{position: absolute; left: 0%; right: 0%; top: 0%; bottom: 89.4461859979101%;}
	#wrap-2{position: absolute; left: 0%; right: 0%; top: 10.5538140020899%; bottom: 0%;}
	#wrap-3{position:absolute; left:0%; right:86.16024973985432%; top:0%; bottom:0%;}
	#wrap-4{position:absolute; left:13.839750260145681%; right:0%; top:0%; bottom:0%;}
	#wrap-5{position: absolute; left: 0%; right: 50.8888134057971%; top: 0%; bottom: 0%;}
	#wrap-6{position: absolute; left: 49.1111865942029%; right: 0%; top: 0%; bottom: 0%;}
}
