#cms_container {
	#wrap-1{position:absolute; left:0%; right:0%; top:0%; bottom:78.47439916405433%;}
	#wrap-2{position:absolute; left:0%; right:0%; top:21.525600835945664%; bottom:0%;}
	#wrap-3{position:absolute; left:0%; right:84.49531737773152%; top:0%; bottom:0%;}
	#wrap-4{position:absolute; left:15.50468262226847%; right:0%; top:0%; bottom:0%;}
	#wrap-5{position: absolute; left: 0%; right: 0%; top: 0%; bottom: 87.2919440745672%;}
	#wrap-6{position: absolute; left: 0%; right: 0%; top: 12.7080559254328%; bottom: 0%;}
}
