nav.horizontal{
    position:absolute;
    left:0;
    right:0;
    height:45px;
    background-color:red;
}

nav.vertical{
    position:absolute;
    left:0;
    bottom:0;
    top:0;
    width:345px;
    background-color:red;
}
