#cms_container {
	#wrap-1{position: absolute; left: 0%; right: 0%; top: 0%; bottom: 83.1494483450351%;}
	#wrap-2{position: absolute; left: 0%; right: 0%; top: 16.8505516549649%; bottom: 0%;}
	#wrap-3{position: absolute; left: 0%; right: 78.1997918834547%; top: 0%; bottom: 0%;}
	#wrap-4{position: absolute; left: 21.8002081165453%; right: 0%; top: 0%; bottom: 0%;}
}
