#cms_container {
	#wrap-1{position: absolute; left: 0%; right: 0%; top: 0%; bottom: 71.7948717948718%;}
	#wrap-2{position: absolute; left: 0%; right: 0%; top: 28.2051282051282%; bottom: 0%;}
	#wrap-3{position: absolute; left: 0%; right: 0%; top: 16.8588458110517%; bottom: 0%;}
	#wrap-4{position:absolute; left:0%; right:80.80321285140563%; top:0%; bottom:0%;}
	#wrap-5{position:absolute; left:19.196787148594378%; right:0%; top:0%; bottom:0%;}
	#wrap-6{position:absolute; left:0%; right:0%; top:0%; bottom:75.20833333333333%;}
	#wrap-7{position:absolute; left:0%; right:0%; top:24.791666666666668%; bottom:0%;}
	#wrap-8{position: absolute; left: 0%; right: 91.1134977827051%; top: 0%; bottom: 0%;}
	#wrap-9{position: absolute; left: 0%; right: 0%; top: 0%; bottom: 74.4172997237569%;}
	#wrap-10{position: absolute; left: 0%; right: 0%; top: 25.5827002762431%; bottom: 0%;}
	#wrap-11{position: absolute; left: 8.8865022172949%; right: 0%; top: 0%; bottom: 0%;}
}