@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,800,700);

@import 'compass';
@import "compass/css3/transform";
@import "compass/css3/border-radius";

@import "modules/layout/editor";
@import "modules/navigation/editor";

@mixin centerElement($type) {
    @if $type == "both"{
        position:absolute;
        top:50%;
        left:50%;
        @include translate(-50%, -50%);
    }

    @if $type == "horizontal"{
        position:absolute;
        left:50%;
        @include translateX(-50%);
    }

    @if $type == "vertical"{
        position:absolute;
        top:50%;
        @include translateY(-50%);
    }
}

body {
    overflow:hidden;
    font-family: 'Open Sans', sans-serif;
}

button {
    @include single-transition(all, 0.2s);
    padding:10px 20px;
    margin:5px 5px;
    background-color:#555;
    @include border-radius(4px, 4px);
    border:none;
    color:#eee;
    outline: none;
    cursor: pointer;
    font-weight:bold;

    &:hover{
        background-color:#fff;
        color:#555;
    }
}

#cms_container {
    //height:1200px !important;
    &.wrapper{

    }
}

.wrapper {
    @include single-transition(background-color, 0.2s);
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border:1px dashed #e5e5e5;
    margin:-1px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    .handle {
        padding:5px;
        width:0;
        height:0;
        z-index: 888;
        margin:0;
        &:hover{
            background-color:#777;
        }
    }

    .handle-right {
        @include centerElement('vertical');
        right:-5px;
        height: 25px;
    }

    .handle-bottom {
        @include centerElement('horizontal');
        bottom:-5px;
        width: 25px;
    }

    &.active {
        background-color:#f5f5f5;
        .btn-add-module {
            background-color: #fff;
        }
    }
}

.btn-add-module {
    @include centerElement('both');
    background-color:#f5f5f5;
    color:#555;
    padding:25px;
    margin:0;
    border:1px dashed #ccc;
    background-image: url('../images/addition_icon.png');
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor:pointer;
    outline: none;
    &:hover{
        background-color:#555;
        background-image: url('../images/addition_icon_light.png');
    }
}

#cms-editor-interface {

    #module-select {
        @include single-transition(all, 0.4s);
        background:#eee;
        position:fixed;
        right:0;
        width:350px;
        top:0;
        bottom:0;
        @include translateX(350px);
        overflow: hidden;

        .inner{
            padding:25px;
            position:relative
        }

        .modules{
            padding:0;
            .module{
                background: #fff;
                display:inline-block;
                padding:35px;
                margin-right:5px;
                border:1px solid #ccc;
                cursor:pointer;
            }
        }
    }

    #module-select.visible {
        @include translateX(0);
    }
}
